Jinja2
itsdangerous
black
flake8
Flask
Flask-Admin
flask-bcrypt
flask-cors
SQLAlchemy
Flask-SQLAlchemy
gunicorn
isort
psycopg2-binary
pyjwt
pytest
pytest-cov
pytest-xdist
SQLAlchemy-Utils
Werkzeug
flask-restx
rich
cloudscraper
docker
json5
frida
matplotlib

r2pipe
